﻿@model TaskC.Models.AddTourModel

@{
    ViewData["Title"] = "Add";
    var categories = ViewBag.Categories as List<CategoryDTO>;
}

<h1>Add</h1>

<h4>AddTourModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartAt" class="control-label"></label>
                <input type="date" asp-for="StartAt" class="form-control" />
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndAt" class="control-label"></label>
                <input type="date" asp-for="EndAt" class="form-control" />
                <span asp-validation-for="EndAt" class="text-danger"></span>
            </div>

            @foreach (var item in categories)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="categories" value="@item.Id" id="defaultCheck-@item.Id">
                    <label class="form-check-label" for="defaultCheck-@item.Id">
                        @item.Title
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
