﻿@model IEnumerable<TaskC.DAL.Entities.Tour>

@{
    ViewData["Title"] = "View";
    var categories = ViewBag.Categories as List<CategoryDTO>;
    var filters = ViewBag.Filters as List<int>;
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="" method="get">
    @foreach (var item in categories)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="filters" value="@item.Id" id="defaultCheck-@item.Id" @(filters.Contains(item.Id)? "checked":"")>
            <label class="form-check-label" for="defaultCheck-@item.Id">
                @item.Title
            </label>
        </div>
    }
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndtAt)
            </th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndtAt)
                </td>
                <td>
                    @foreach (var cat in item.Categories)
                    {
                        <span>@cat.Category.Title</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
